# Builds

dist/*
lib/*
Lib/*
Lib
lib
Lib/
lib/
test/*


# Others
angular-guide.txt
public/
public
public/*

# Temp Test Files
test.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# VS Debug Dir
.vscode