dist
Lib

.eslintignore
.eslintrc.js
.gitignore
webpack.config.js

# Testing
test/
test.*
public/*
Lib/server
testing/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# VS Debug Dir
.vscode